{% extends 'todolist/base.html' %}
{% load widget_tweaks %}
{% block content %}
<!-- List of lists -->
<div class="container">
    {% if user_todo_lists %}
    {% for todo_list in user_todo_lists %}
    <fieldset class="center-align" style="border-radius: 20px;">


        <!-- List title -->
        <legend><h4 class="blue-grey-text text-lighten-5">{{todo_list.list_title}}



            <!-- List edit -->
            <a class="btn-floating btn-small waves-effect waves-light amber darken-1" href="{% url 'todolist:edit_list' todo_list.pk %}">
                <i class="material-icons">border_color</i></a>



            <!-- List delete -->
              <a class="btn-floating btn-small waves-effect waves-light red modal-trigger" data-target="listdelete{{forloop.counter}}" href="#">
                <i class="material-icons">clear</i></a></h4></legend>


        <div class="container">
            <form method="POST">
                {% csrf_token %}
            {% if todo_list.todo_set.all %}
            <ul>
            {% for todo in todo_list.todo_set.all %}
            {% if todo.is_done %}
                <li>
                <h5 class="blue-grey-text text-lighten-5 left-align">
                    <span class="green-text text-darken-1" style="padding: 5px;">
                    <i class="material-icons green-text text-darken-1">check</i>
                        {{todo.todo_text}}
                </span>


                    <!-- Todo management -->
                 <span class="right" style="padding: 5px;"><a href="#">
                    <a class="btn-floating btn-small dropdown-trigger right waves-effect waves-light blue-grey-text text-lighten-5" data-target="todo-manage{{forloop.counter}}"><i class="material-icons">more_horiz</i></a>
                </a></span>
                    &nbsp;&nbsp;
                </h5>
            </li>
                <ul id="todo-manage{{forloop.counter}}" class="dropdown-content">
                <li class="blue-text text-darken-4" style="text-align: center; padding: 5px;"><a href="{% url 'todolist:edit_todo' todo.pk %}">Edit</a></li>
                    <li class="divider" tabindex="-1"></li>
                <li class="blue-text text-darken-4" style="text-align: center; padding: 5px;"><a href="{% url 'todolist:delete_todo' todo.pk %}">Delete</a></li>
                </ul>
                {% else %}
                <li>
                <h5 class="blue-grey-text text-lighten-5 left-align">
                <label>
                    <input type="checkbox" name="{{todo.pk}}" class="filled-in"/>
                    <span></span>
                </label>
                    <i class="material-icons">bookmark</i>{{todo.todo_text}}
                <span class="right" style="padding: 5px;"><a href="#">
                    <a class="btn-floating btn-small dropdown-trigger right waves-effect waves-light blue-grey-text text-lighten-5" data-target="todo-manage{{forloop.counter}}"><i class="material-icons">more_horiz</i></a>
                </a></span>
                    &nbsp;&nbsp;
                </h5>
                </li>

                <!-- dropdown  -->
                    <ul id="todo-manage{{forloop.counter}}" class="dropdown-content">
                    <li class="blue-text text-darken-4" style="text-align: center; padding: 5px;"><a href="{% url 'todolist:edit_todo' todo.pk %}">Edit</a></li>
                        <li class="divider" tabindex="-1"></li>
                    <li class="blue-text text-darken-4" style="text-align: center; padding: 5px;"><a href="{% url 'todolist:delete_todo' todo.pk %}">Delete</a></li>
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>

            {% else %}
            <h5 class="blue-grey-text text-lighten-5 center-align">No elements to do left</h5>
            {% endif %}
                {% if todo_list.undone_todos %}
                <br/>
                <button class="btn-floating btn-small waves-effect waves-light blue darken-3 left"><i class="material-icons">check</i></button>
                {% endif %}
                <br/>
            </form>

        </div>
        <br/>
            <a href="{% url 'todolist:new_todo' todo_list.pk %}" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
            <br/><br/>
    </fieldset>
    <!-- List delete modal -->
    <div id="listdelete{{forloop.counter}}" class="modal">
    <div class="modal-content">
      <h4 class="center">Are you sure you want to delete "{{todo_list.list_title}}" list?</h4>
    </div>
    <div class="modal-footer">
      <a href="{% url 'todolist:delete_list' todo_list.pk %}" class="left waves-effect waves-green btn-flat">Yes, delete!</a>
        <a class="modal-close right waves-effect waves-green btn-flat">No, remain it!</a>
    </div>
  </div>
    {% endfor %}
    {% else %}
    <h3 class="blue-grey-text text-lighten-5 center-align">You have no lists</h3>
    {% endif %}
     <br/><br/><br/><br/>
    <div class="container center-align">
    <a href="{% url 'todolist:new_list' %}" class="waves-effect waves-light btn-large teal lighten-2">
            <i class="material-icons left">add_box</i>Add new</a>
    </div>
</div>
{% endblock %}